
[Desktop Entry]
Name=Create Executable
Comment=Diamond Python Encode Utility
Categories=GNOME;Utility;
Exec=python /home/alectramell/diamond/create-executable.py
Icon=/home/alectramell/diamond/icons/ubuntu64x64.png
Terminal=false
Type=Application

